*,*:before, *:after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.menu{
  height: 75px;
  width:100vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid rgb(218, 13, 13);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 6);
}

.menu_items {
  display: flex;
  list-style: none;
  margin-right: 30px;
}

.menu_items li {
  border-radius: 3px;
  margin: 0 5px;
}

.subMenu {
  display: none;
}

.menu_items li a {
  padding: 7px 13px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-transform: initial;
  color: #000;
}
.cont_logo {
  display: inline-block;
  margin: 20px;
}
.img {
  width: 100px;
  height: 50%;
}

.container_btn {
  display: flex;
  margin-right: 20px;
}

.btn {
  background-color: rgb(218, 13, 13);
  border: 1px solid red;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  margin-right: 15px;
}
.btn_cont {
  background-color: #fff;
  border: 1px solid red;
  color:rgb(218, 13, 13);
  text-align: center;
  padding: 5px 15px;
  margin-right: 15px;
}
.btn:hover {
  background-color: #fff;
  border: 1px solid red;
  color:rgb(218, 13, 13);
  text-align: center;
  padding: 5px 15px;
  margin-right: 15px;
  transition: .5s
}
.btn_cont:hover {
  background-color: rgb(218, 13, 13);
  border: 1px solid red;
  color: #fff;
  text-align: center;
  padding: 5px 15px;
  margin-right: 15px;
  transition: .5s;
}

.menu_items li a:hover, li.active {
  border-bottom: 1px solid red;
  transition: .4s;
  color: rgb(218, 13, 13);
}

.btn_menu {
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

ul.show {
  top: 65px;
}

.grid {
  display: flex;
  width: 100%;
  padding-top: 60px;
}

.grid-item {
  display: flex;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  transition: 0.2s;
  flex-wrap:wrap;
}

.card-img:hover {
  transform: translateY(-0.5%);
}

.card-img {
  display:flex;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  
}

.card-content {
  width: 300px;
  border: 1px solid #969696;
  border-radius: 4px;
  cursor: pointer;
}

.card-header {
  padding-top: 20px;
  font-size: 22px;
  font-family: 'Domine', serif;
  text-align: center;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}



@media screen and (max-width :952px) {
    .logo {
      font-size: 30px;
      padding-left: 35px;
    }
    .menu_items li a {
      font-size: 16px;
    }
}

@media screen and (max-width: 858px) {

  .subMenu {
    display: block;
    background-color: #ececec;
    text-align: left;
  }

  .menu {
    height: 65px;
  }
  .btn_menu {
    display: inline-flex;
  }
  .menu_items {
    position:fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background-color: #fff;
    top: -100vh;
    text-align: left;
    transition: all .5s;
    flex-direction: column;
    color: #000;
    
  }
  

.visible {
  display:block;
}

.no-visible {
  display: none;
}

  .menu_items li {
    margin: 30 0 0 0;
    line-height: 30px;
    border-bottom: 1px solid rgb(223, 220, 220);
  }

  .subMenu li {
    display: block;
    margin: 30 0 0 0;
    line-height: 30px;
    border-bottom: 1px solid rgb(223, 220, 220);
  }
  /* .subMenu {
    height: 0;
    transition: all 0.3s;
  } */

  /* .subMenu li {
    background: #737373;
    padding-left: 30px;
  } */

  .menu_items li:hover {
    background: none;
  }

  .menu_items li a {
    font-size: 20px;
    color:#000;
    font-weight: blod;
  }
  .menu_items li a:hover {
    color: #e9183b;
  }

  .logo {
    font-size: 25px;
    padding-left: 35px;
  }

  .container_btn {
    display: block;
  }

  .btn {
    width: 100vw;
    background-color: rgb(218, 13, 13);
    border: 1px solid red;
    color: #fff;
    text-align: center;
    padding: 10px 15px;
    margin-top: 15px;
    
  }
}

@media screen and (max-width: 858px) and (orientation: landscape) { 
  .menu_items li {
    margin:5px 0 0 0;
  }
  .menu_items {
    overflow: scroll;
    height: calc( 100% - 65px)
  }
  
}

@media screen and (max-width: 1185px){
  /* .menu_items li a {
    font-size: 12px;
    height: calc( 100% - 65px)
  }
  .btn_menu {
    font-size: 12px;
  } */
}